// <SELECT>
// Сніппет (HTML): sel
.select {
    min-width: 0;
    position: relative;

    &__body {
        position: relative;
    }

    &__title {
        text-align: left;
        cursor: pointer;
        border-radius: 4px;
        width: 100%;
        color: var(--primary);
        background: rgba(255, 251, 239, 0.02);
        border: 1px solid rgba(255, 251, 239, 0.10);
        padding: 20px;
        @media (max-width: $mobile) {
            font-size: 14px;
            padding: 18px;
        }
    }

    // .select__value
    &__value {
        display: flex;
        min-width: 0;
        align-items: center;
        gap: toRem(12);

        &::before {
            font-size: 14px;
            color: #F00;

        }

        &:after {
            content: "";
            flex: 0 0 12px;
            width: 12px;
            height: 12px;
            transition: all 0.3s ease 0s;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("/images/arrow.svg") center /contain no-repeat;
            margin-left: auto;

            ._select-open & {
                transform: rotate(-180deg);
            }
        }

        &._select-pseudo-label {
            &::before {
                content: attr(data-pseudo-label);
            }
        }
    }

    // .select__content
    &__content {
        display: inline-block;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        order: -1;
    }

    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__input {
        width: 100%;
        background-color: transparent;
        height: 100%;
    }

    // .select__options
    &__options {
        color: var(--primary);
        border: 1px solid rgba(255, 251, 239, 0.10);
        position: absolute;
        top: calc(100% - 2px);
        border-radius: 4px;
        min-width: 100%;
        left: 0;
        padding: 0;
        overflow: hidden;
        background: var(--main-bg);
        @media (max-width: $mobile) {
            font-size: 14px;
        }
    }

    // .select__scroll
    &__scroll {
        overflow-y: auto;
        overflow-x: hidden;
        // Максимальна висота
        max-height: 200px;
        // Стилі скроллбару
        .simplebar-scrollbar {
            &::before {
                //opacity: 1;
            }
        }
    }

    // .select__option
    &__option {
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 16px;
        color: var(--primary);
        @media (max-width: $mobile) {
            padding: 10px 16px;
        }

        &._select-selected {

        }

        @media (any-hover: hover) {
            &:hover {
                color: rgba(236, 43, 29, 1);
            }
        }
    }

    // Конструкція додаткових даних
    &__row {
        display: inline-flex;
        align-items: center;
    }

    &__asset {
    }

    &__text {
    }

    &--show-top {
        .select__options {
            top: auto;
            bottom: calc(100% - 2px);
        }
    }

    // Стан селекту
    &._select-open {
    }

    &._select-disabled {
    }

    &._select-active {
    }

    &._select-focus {
    }

    &._select-multiple {
    }

    &._select-checkbox {
    }
}

// Тег
._select-tag {
    cursor: pointer;
}
