.main-block {
  display: flex;
  flex-direction: column;
  padding: 25px 0 32px;
  flex-grow: 1;
  transition: all 0.3s ease;
  position: relative;
  height: 100dvh;
  @media(max-width: $pc) {
    padding-bottom: 30px;
  }
  @media(max-width: $tablet) {
    padding-top: 50px;
    padding-bottom: 15px;
  }
}

.main-block__container {
  flex-grow: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.main-block__top {
}

.main-block__title {
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: 0.86;
  margin-bottom: 8vh;
  position: relative;
  font-size: 223.054px;
  z-index: 2;
  @media(max-width: 1499px) {
    font-size: 187px;
  }
  @media(max-width: 1299px) {
    font-size: 125.054px;
  }
  @media(max-width: $tablet) {
    margin-bottom: 8px;

  }

  .lt {
    letter-spacing: -0.02em;
    
  }

  .astrix-wrapper{
    white-space: nowrap;
  }

  @media(max-width: $tablet) {
    font-size: 17.6vw
  }
  @media(max-width: $mobile) {
    font-size: 17.4vw
  }

  .red {
    color: var(--red);
  }
  .astrix{
    display: inline-block;
    transform-origin: 50% 25%;
    animation: spin .5s ease-out 1.6s forwards; /* Apply the spin animation with a 3s delay */
    &:hover{
      color: blue !important;
      animation: spin .5s ease-out backwards;
    }
  }
}




@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees rotation */
  }
  100% {
    transform: rotate(-360deg); /* End at 720 degrees rotation */
  }
}

.main-block__animation {
  flex-grow: 1;
  position: relative;

  .wrap {
    position: absolute;
    left: 0;
    transform-origin: top left;
    top: 0;
    pointer-events: none;
    aspect-ratio: 1.5;
    height: 150vh;
    transform: translate(-11%, -35%);
    @media(max-width: 1920px) {

    }
    @media (max-width: $pc) {
      //transform: translate(-20%, -35%);
    }
    @media (max-width: $tablet) {
      transform: translate(-11%, -30%);
      height: 120vh;
    }
    @media(max-width: $mobile) {
      height: 90vh;
    }
    @media(max-width: $mobile) and (max-height: 750px) {
      height: 80vh;
    }
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.main-block__row {
  position: relative;
  width: 100%;
  display: flex;
  padding-left: 111px;
  @media (max-width: $pc) {
    padding-left: 238px;
  }
  @media(max-width: 1299px) {
    padding-left: 0;
  }
  @media(max-width: $tablet) {
    flex-direction: column-reverse;
    height: 53vh;
    padding-left: 0;
  }
  @media(max-width: $mobile) {
    height: 45vh;
  }
  @media(max-width: $mobile) and (max-height: 750px) {
    height: 40vh;
  }
}

.main-block__text {
  transform: rotate(-2.14deg);
  width: 213px;
  font-size: 21px;
  position: relative;
  z-index: 2;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: -0.21px;
  font-family: var(--font-secondary);
  text-align: right;
  @media(max-width: 1499px) {
    font-size: 17.655px;
    letter-spacing: -0.177px;
  }
  @media (max-width: $tablet) {
    align-self: flex-end;
    transform: rotate(0deg);
    font-size: 26px;
    width: 240px;
    letter-spacing: -0.26px;
  }

  b {
    font-weight: 600;
  }
}

.light-text {
  font-weight: 300;
  position: relative;
}

.main-block__bottom {
  font-size: 92px;
  position: absolute;
  padding-left: var(--padding);
  bottom: 0;
  left: 0;
  z-index: 2;
  font-weight: 400;
  line-height: 0.95;
  letter-spacing: -1.84px;
  @media (max-width: 1499px) {
    font-size: 77.348px;
  }
  @media (max-width: $tablet) {
    font-size: 42px;
    letter-spacing: -0.8px;
  }
  @media (max-width: $mobile) {
    font-size: 30.875px;
    letter-spacing: -0.617px;
  }
  @media(max-width: 360px) {
    font-size: 24px;
  }

  .red {
    color: var(--red2);
  }
}

.title-descr {
  margin-left: -60px;
  display: inline-flex;
  align-items: flex-end;
  transform: translateY(-10px);
  vertical-align: bottom;
  @media (max-width: 1499px) {
    margin-left: -45px;

  }
  @media(max-width: 1299px) {
    margin-left: -40px;
    transform: translateY(20px);
  }
  @media(max-width: $tablet) {
    margin-top: 0px;
    margin-left: -45px;
  }
  @media(max-width: $mobile) {
    margin-left: -15px;
    margin-top: 5px;
  }
}


.title-descr-text {
  color: #FFF;
  font-family: var(--font-secondary);
  font-size: 26px;
  font-weight: 500;
  line-height: 1.23;
  letter-spacing: -0.26px;
  padding-left: 10px;
  position: relative;
  z-index: 2;
  display: inline-block;

  b {
    font-weight: 600;
  }

  @media(max-width: 1499px) {
    font-size: 21.859px;
  }
  @media(max-width: $tablet) {
    max-width: 399px;
    font-size: 26px;
    &.pc {
      display: none;
    }
  }
  @media(max-width: $tablet) {
    padding-left: 0;

  }

  &.mob {
    @media(min-width: $tablet) {
      display: none;
    }
  }

  @media(max-width: $mobile) {
    //b {
    //  font-weight: 700;
    //}
  }
  @media(max-width: $mobileSmall) {
    max-width: 278px;
    letter-spacing: -0.26px;
  }


}

#logo {
  display: none !important;
}

.tm {
  display: inline-block;
}

.title-descr-label {
  position: absolute;
  top: 17%;
  margin-bottom: 17px;
  color: #FFF;
  font-size: 0.28em;
  font-weight: 700;
  line-height: 0.86;
  left: 90%;
  display: inline-block;
}