.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 25px 37px;
  @media (max-width: $big) {
    padding: 24px;
  }
  @media(max-width: 1499px) {
    padding: 24px 30px;
  }
  @media(max-width: $tablet) {
    width: 100%;
    padding: 4px 12px 4px 12px;
  }
}

.header__container {
  padding: 0;
}

.header__row {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media(max-width: $tablet) {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

#idle-star--menu {
  max-width: 108px;
  @media (max-width: 1499px) {
    max-width: 90px;
    margin-bottom: 10px;
  }
  @media(max-width: $tablet) {
    max-width: 45px;
  }

  img {
    max-width: 100%
  }
}

.header__list {
  display: grid;
  gap: 8px;
  @media (max-width: $tablet) {
    display: flex;
    gap: 16px;
  }

  &:hover {
    li {
      a {
        span {
          animation: none !important;
        }

        svg {
          animation: none !important;

        }
      }
    }
  }

  li {
    &:first-child {
      a {
        span {
          @media (min-width: $tablet) {
            animation: anim-text1 5.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1.3s infinite;
          }
        }

        svg {
          animation: anim-icon1 5.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite 1.3s;
          @media(max-width: $tablet) {
            animation: anim-icon12 5.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite 1.3s;
          }
        }
      }
    }

    &:last-child {
      a {
        span {
          @media (min-width: $tablet) {
            animation: anim-text1 5.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s infinite;
          }
        }

        svg {
          animation: anim-icon1 5.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite 1s;

          @media(max-width: $tablet) {
            width: 14px;
            height: 14px;
            animation: anim-icon12 5.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite 1s;
          }
        }
      }
    }
  }

  &:hover {
    a {
      span, svg, img {
        animation-name: none;
      }
    }
  }

  a {
    font-family: var(--font-secondary);
    color: #FFF;
    font-size: 26px;
    font-weight: 600;
    line-height: 0.92;
    display: inline-flex;
    align-items: center;
    text-align: right;
    justify-content: flex-end;
    gap: 4px;
    --duration: 5s;
    @media (max-width: 1499px) {
      font-size: 21.859px;
    }
    @media(max-width: $tablet) {
      font-size: 26px;
    }


    span {
      display: inline-block;
      @media (min-width: $tablet) {
        animation: anim-text1 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) 1s infinite;
      }
    }

    svg {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      animation: anim-icon1 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite 1s;
      @media (max-width: 1499px) {
        width: 12px;
        height: 12px;
      }
      @media(max-width: $tablet) {
        width: 14px;
        height: 14px;
        animation: anim-icon12 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite 1s;
      }
    }

    p {
      transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;

      &.text {
        @media (min-width: $tablet) {
          animation: anim-text1-hover-reverse 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
      }

      &.svg {
        animation: anim-icon1-hover-reverse 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        @media(max-width: $tablet) {
          animation: anim-icon12-hover-reverse 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
      }
    }

    &:hover {
      p.text {
        @media (min-width: $tablet) {
          animation: anim-text1-hover 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
        }
      }

      p.svg {
        animation: anim-icon1-hover 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
        @media(max-width: $tablet) {
          animation: anim-icon12-hover 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
        }
      }

      span {
        animation: none !important;
      }

      svg {
        animation: none !important;

      }
    }

  }
}

@keyframes anim-text1 {
  0% {
    transform: translateX(0px);
  }
  69% {
    transform: translateX(0px);
  }
  79% {
    transform: translateX(-6px);
  }
  89% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes anim-icon1 {
  0% {
    transform: rotate(0deg);
  }
  69% {
    transform: rotate(0deg);
  }
  79% {
    transform: rotate(-7deg);
  }
  89% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes anim-icon12 {
  0% {
    transform: translate(0px, 0) rotate(0deg);
  }
  69% {
    transform: translate(0px, 0) rotate(0deg);
  }
  79% {
    transform: translate(6px, 0) rotate(-7deg);
  }
  89% {
    transform: translate(6px, 0) rotate(6deg);
  }
  100% {
    transform: translate(0px, 0) rotate(0deg);
  }
}


@keyframes anim-text1-hover {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-6px);
  }
  66% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(-6px);
  }
}

@keyframes anim-text1-hover-reverse {
  0% {
    transform: translateX(-6px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes anim-icon1-hover-reverse {
  0% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes anim-icon1-hover {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-7deg);
  }
  66% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(6deg);
  }
}

@keyframes anim-icon1-hover-reverse {
  0% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes anim-icon12-hover {
  0% {
    transform: translate(0px, 0) rotate(0deg);
  }
  33% {
    transform: translate(6px, 0) rotate(-7deg);
  }
  66% {
    transform: translate(6px, 0) rotate(6deg);
  }
  100% {
    transform: translate(6px, 0) rotate(6deg);
  }
}

@keyframes anim-icon12-hover-reverse {
  0% {
    transform: translate(6px, 0) rotate(6deg);
  }
  100% {
    transform: translate(0px, 0) rotate(0deg);
  }
}