<header class="header">
    <div class="header__container">
        <div class="header__row">
            <div class="header__logo">
                <img src="/images/star2.svg" alt="">
            </div>
            <ul class="header__list">
                <li>
                    <a href="">
                        <p class="text"><span>contact</span></p>
                        <p class="svg">
                            <svg>
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p class="text"><span>faq</span></p>
                        <p class="svg">
                            <svg>
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
