<header class="header">
    <div class="header__container">
        <div class="header__row">
            <div class="header__logo">
                <img src="/images/star2.svg" alt="">
            </div>
            <ul class="header__list">
                <li>
                    <a href="">
                        <span>contact</span>
                        <svg>
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>faq</span>
                        <svg>
                            <use xlink:href="#icon-arrow"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
